### 연산자 

##### 산술연산자

- '+' : 더하기
- '-' : 빼기
- '*' : 곱하기
- '/' : 나누기
- '%' : 나머지
- '//' : 몫 구하기
- '**' : 거듭제곱

In [2]:
5 + 1

6

In [3]:
5-1

4

In [5]:
5 * 2

10

In [6]:
5 / 2

2.5

In [7]:
5 % 2

1

In [8]:
5 // 2

2

In [11]:
5 ** 2

25

##### 비교 연산자

- '>' : 크다
- '>=' : 크거나 같다
- '<' : 작다
- '<=' : 작거나 같다
- '==' : 같다
- '!=' : 다르다

In [12]:
5 > 2

True

In [13]:
5 >= 2

True

In [14]:
5 < 2

False

In [15]:
5 <= 2

False

In [16]:
5 == 2

False

In [17]:
5 != 2

True

##### 논리연산자

- and : 논리 곱
- or : 논리 합
- not : 논리 부정

In [19]:
True and True

True

In [20]:
(5 > 2) and (5 <= 2)

False

In [21]:
True or False

True

In [22]:
(5 > 2) or (5 <= 2)

True

In [24]:
not True

False

In [28]:
not False

True

### 변수

데이터를 저장하는 공간
파이썬에서는 변수의 특정 데이터 타입이 존재하지 않음
즉, 하나의 변수에 여러 데이터 타입을 할당하 수 있음

In [30]:
variable = 10
variable

10

In [32]:
variable = True
variable

True

In [34]:
variable = 10.0
variable

10.0

In [36]:
# variable = 0.13
variable = .13
variable

0.13

### 데이터타입

- 정수형
- 실수형
- 논리형
- 문자열

In [38]:
type(10)

int

In [40]:
type(10.0)

float

In [43]:
type(True)

bool

In [44]:
type("문자열") #함수

str

### 데이터타입 변환

- int() : 특정 데이터를 정수형으로 변환
- float() : 특정 데이터를 실수형으로 변환
- bool() : 특정 데이터를 논리형을 변환
- str() : 특정 데이터를 문자형을 변환

In [46]:
int(10.34)

10

In [48]:
int(True)

1

In [50]:
int(False)

0

In [51]:
int('10') #실수형으로 변경하려 하면 변경 할 수 없다고 오류 메시지가 뜬다.

10

In [56]:
int('10.4')

ValueError: invalid literal for int() with base 10: '10.4'

In [55]:
float(10) #인터프리터 언어의 특징으로 한줄씩 처리하기 떄문에 윗줄이 에러가 발생하였다 하더라도 밑에 줄에 영향은 미치나 오류가 뜨진 않는다.

10.0

In [58]:
float(10.0)

10.0

In [60]:
float('a')

ValueError: could not convert string to float: 'a'

In [62]:
bool(10) #0을 제외한 모든 숫자들은 True로 인식한다.

True

In [63]:
bool('A') #빈문자열일 경우 False, 문자열이 있을 경우 True로 반환한다.

True

In [64]:
str(True) #모든 데이터를 문자열로 반환한다.

'True'

### NaN, Inf

- NaN (Not a Number) : 숫자가 아님을 나타냄
- Inf (Infinity) : 무한대

In [66]:
float('NaN')

nan

In [68]:
float('asd') #실수로 표현이 불가능하다.

ValueError: could not convert string to float: 'asd'

In [70]:
float('Inf')

inf

In [72]:
float('-inf') #음의 무한대 표현 가능

-inf

### 대입연산자

- '=' : 좌항에 우항을 대입
- '+' : 좌항에 좌항값에 우항을 더한 값을 대입
- '-' : 좌항에 좌항값에 우항을 뺀 값을 대입
- '*=' : 좌항에 좌항값에 우항을 곱한 값을 대입
- '/=' : 좌항에 좌항값에 우항을 나눈 값을 대입
- '**=' : 좌항에 좌항값에 우항을 거듭제곱한 값을 대입
- '//=' : 좌항에 좌항값에 우항을 나눈몫 값을 대입

##### 파이썬은 증감연산자가 존재하지 않음

증감을 표현하고 싶다면
변수 += 1, 변수 -= 1
로 표현해주어야 한다.

In [73]:
variable = 10

In [140]:
variable += 3
variable

211

In [189]:
variable -= 3
variable

64

In [200]:
variable **= 3
variable

ValueError: Exceeds the limit (4300 digits) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

In [229]:
variable //= 99
variable

ValueError: Exceeds the limit (4300 digits) for integer string conversion; use sys.set_int_max_str_digits() to increase the limit

### 문자열

- 출력 : print() 함수로 문자열 출력
- 문자열 연산 : + 연결, * 반복, 
- 타 데이터 타입과 연결 : 반드시 타 데이터 타입을 str() 형변환 함수로 변형 후 연결 해야함
- 문자열 : 기본적으로 ' 혹은 " 로 묶어서 표현, \n으로 줄바꿈 가능
- 여러줄의 문자열 : ''' 혹은 """ 로 표현 가능
- 문자열 치환 : .replace() 문자열 메서드로 특정 문자열을 변경 가능
- f문자열 : 문자열 앞에 f라는 키워드를 붙여서 문자열의 포멧을 만들어 사용

In [232]:
print('안녕하세유')

안녕하세유

In [235]:
string1 = '안녕하세유1'
string2 = '안녕하세유2'
string1,string2

('안녕하세유1', '안녕하세유2')

In [236]:
string1 = '안녕하세유1'
string2 = '안녕하세유2'
print(string1)

안녕하세유1

In [238]:
string1 = '안녕하세유1'
print(string1)
string2 = '안녕하세유2'
print(string2)

안녕하세유1
안녕하세유2

In [241]:
string1 + string2

'안녕하세유1안녕하세유2'

In [242]:
string1 * 5

'안녕하세유1안녕하세유1안녕하세유1안녕하세유1안녕하세유1'

In [245]:
integer = 10

In [247]:
string1 + integer + string2 #문자열과 정수를 연결할 수 없다.

TypeError: can only concatenate str (not "int") to str

In [249]:
string1 + str(integer) + string2 #숫자를 문자와 함께 출력하기 위해서는 형변환의 과정을 거쳐야한다.

'안녕하세유110안녕하세유2'

In [251]:
print('안녕하세요\n반갑습니다.')

안녕하세요
반갑습니다.

In [306]:
statement = '''안녕하세유
반갑쉼데이'''

print(statement)

TypeError: 'str' object is not callable

In [270]:
date = '2024-07-18'
date.replace('-', '.')

'2024.07.18'

In [289]:
name = "이성계"
age = 56

print(str(name) + '의 나이는' + str(age) + '입니다.')
print(f'{name}의 나이는 {age}입니다.')

TypeError: 'str' object is not callable

In [292]:
f'{'abcd' :>20}' #공백을 채울 수 있다.

'                abcd'

In [294]:
f'{'abcd' :0>20}' #공백에 0을 붙일 수 있다 / 꺽새의 방향에 따라 공백으 위치 결정 가능 위 꺽새는 중앙에 공백이 생긴다.

'0000000000000000abcd'

In [299]:
f'{2345:0>20,}' #숫자 표현 가능

'0000000000000002,345'