### 리스트  

순서가 존재하고 중복을 허용하는 자료 구조형  
파이썬에는 변수의 타입 존재하지 않아 리스트의 타입이 고정되어 있지 않음  
리스트 표현 : [요소1,요소2,요소3]

In [1]:
array = [1, 1.23, True, '문자열']
array

[1, 1.23, True, '문자열']

In [2]:
array[1]

1.23

In [5]:
array[2] = False
array

[1, 1.23, False, '문자열']

In [9]:
for item in array:
    print(item)

1
1.23
False
문자열

##### 리스트의 길이  

'''python  
len(리스트)  
'''

In [11]:
len(array)

4

In [13]:
for index in range(len(array)):
    array[index] = 0
    
array

[0, 0, 0, 0]

##### 리스트의 요소 추가하기  

'''python
리스트.append(요소) # 마지막 인덱스에 요소를 추가
리스트.insert(인덱스,요소) # 특정 인덱스에 요소 삽입
리스트.extend(리스트) # 리스트를 확장
'''

In [20]:
numbers = [10,22,33]
numbers

[10, 22, 33]

In [22]:
numbers.append(14)
numbers

[10, 22, 33, 14, 14]

In [27]:
numbers.insert(1,-10)
numbers

[10, -10, -10, -10, 22, 33, 14, 14, 10, 10]

In [29]:
numbers.extend(1000) # 반복가능한 객체가 아니다.
numbers

TypeError: 'int' object is not iterable

In [32]:
numbers.extend([100,22])
numbers

[10, -10, -10, -10, 22, 33, 14, 14, 10, 10, 100, 100, 22, 100, 22]

##### 리스트에서 요소 삭제  

'''python  
del 요소 # 요소를 메모리 상에서 제거 >> 리스트에서만 적용되는 것이 아니라 일반 변수에서도 적용  
pop() # 마지막 요소를 반환하고 제거  
pop(인덱스) # 특정 인덱스 요소를 반환하고 제거  
remove(요소값) # 지정한 요소값을 제거 (첫번째로 만난 요소만 제거)  
'''

In [36]:
del numbers[0]
numbers

[-10, -10, 22, 33, 14, 14, 10, 10, 100, 100, 22, 100, 22]

In [37]:
numbers.pop()

22

In [39]:
numbers # 마지막 값인 22가 제거된 상태로 출력

[-10, -10, 22, 33, 14, 14, 10, 10, 100, 100, 22, 100]

In [42]:
numbers.pop(2)

22

In [43]:
numbers

[-10, -10, 33, 14, 14, 10, 10, 100, 100, 22]

In [60]:
numbers.remove(100) # 첫번째 만난 100을 제거해버림
numbers

ValueError: list.remove(x): x not in list

##### 리스트 슬라이싱  

'''python  
리스트[시작인덱스:종료인덱스]  
'''

In [54]:
numbers[1:4]

[-10, 33, 14]

In [55]:
numbers

[-10, -10, 33, 14, 14, 10, 10, 22]

In [56]:
numbers[:4]

[-10, -10, 33, 14]

In [58]:
numbers[1:] # 해당 시점부터 끝까지 값을 받아옴

[-10, 33, 14, 14, 10, 10, 22]

##### 리스트의 복수 할당  

'''python  
변수1, 변수2 = [요소1, 요소2] >> 요소1을 변수1에 할당, 요소2를 변수2에 할당 # 각 변수에 요소를 직접 할당    



'''

In [61]:
numbers = [22,61,20]
numbers

[22, 61, 20]

In [64]:
number1, number2, number3 = numbers
number2

61

### 딕셔너리  

Key, Value를 하나의 쌍으로 관리하는 자료 구조  
순서가 존재하지 않고 Key는 중복을 허용하지 않으며, Value는 중복될 수 있음  
딕셔너리변수 = {key1 : value1, key2: value2, ...}  
Key와 Value는 어떠한 형태의 데이터 타입이든 가질 수 있음

In [71]:
fruits = {
    'apple' : '사과' ,
    'banana' : '바나나' ,
    'carrot' : '당근'

}

fruits

{'apple': '사과', 'banana': '바나나', 'carrot': '당근'}

In [72]:
fruits['apple1']

KeyError: 'apple1'

In [74]:
fruits['banana'] = '버네이너'
fruits

{'apple': '사과', 'banana': '버네이너', 'carrot': '당근'}

In [75]:
len(fruits)

3

##### 딕셔너리에 요소 추가 및 수정  

'''python  
딕셔너리[추가할 키] = 추가할 값  
딕셔너리[수정할 키] = 수정할 값  
딕셔너리.update(딕셔너리)  
'''

In [77]:
fruits['damson'] = '자두'
fruits

{'apple': '사과', 'banana': '버네이너', 'carrot': '당근', 'damson': '자두'}

In [79]:
fruits['banana'] = '바나나'
fruits

{'apple': '사과', 'banana': '바나나', 'carrot': '당근', 'damson': '자두'}

In [81]:
add_fruits = {
    'banana' : '버네이너',
    'eggfruit' : '에그프루트'
}
add_fruits

{'banana': '버네이너', 'eggfruit': '에그프루트'}

In [84]:
fruits.update(add_fruits)
fruits

{'apple': '사과',
 'banana': '버네이너',
 'carrot': '당근',
 'damson': '자두',
 'eggfruit': '에그프루트'}

##### 딕셔너리에서 요소 삭제  

'''python  
del 요소  
pop(키)  
'''

In [87]:
del fruits['carrot']
fruits

KeyError: 'carrot'

In [96]:
fruits.pop('banana') # pop()은 값을 반환해주는 역할을 한다.

KeyError: 'banana'

In [93]:
fruits

{'apple': '사과', 'damson': '자두', 'eggfruit': '에그프루트'}

##### 딕셔너리를 반복문에 사용  

'''python  
for key in 딕셔너리.keys():  
    반복 구문  

for vlaue in 딕셔너리.values():  
    반복 구문  

for key, value in 딕셔너리.items():  
    반복 구문  
'''

In [97]:
for key in fruits.keys():
    print(key)

apple
damson
eggfruit

In [99]:
for value in fruits.values():
    print(value)

사과
자두
에그프루트

In [102]:
for key, value in fruits.items():
    print(f'{key}-{value}') # key와 value의 쌍을 한번에 받아오기

apple-사과
damson-자두
eggfruit-에그프루트